<a href="https://colab.research.google.com/github/ltoosaint24/DS-Unit-2-Linear-Models/blob/master/Loveline_Toussaint__LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df

      BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0           1                    OTHER  ...          0  01/01/2019
1           1                    OTHER  ...          0  01/01/2019
2           1                    OTHER  ...          0  01/01/2019
3           1                    OTHER  ...          0  01/01/2019
4           1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019
...       ...                      ...  ...        ...         ...
23035       4                    OTHER  ...     510000  04/30/2019
23036       4                    OTHER  ...     355000  04/30/2019
23037       4                    OTHER  ...     375000  04/30/2019
23038       4                    OTHER  ...    1100000  04/30/2019
23039       4                    OTHER  ...     569202  04/30/2019

[23040 rows x 21 columns]

In [6]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [7]:
df.dropna

<bound method DataFrame.dropna of       BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0           1                    OTHER  ...          0  01/01/2019
1           1                    OTHER  ...          0  01/01/2019
2           1                    OTHER  ...          0  01/01/2019
3           1                    OTHER  ...          0  01/01/2019
4           1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019
...       ...                      ...  ...        ...         ...
23035       4                    OTHER  ...     510000  04/30/2019
23036       4                    OTHER  ...     355000  04/30/2019
23037       4                    OTHER  ...     375000  04/30/2019
23038       4                    OTHER  ...    1100000  04/30/2019
23039       4                    OTHER  ...     569202  04/30/2019

[23040 rows x 21 columns]>

In [8]:
df[df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS']

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
7           2        OTHER  ...          0  01/01/2019
8           2        OTHER  ...          0  01/01/2019
9           2        OTHER  ...          0  01/01/2019
42          3        OTHER  ...          0  01/01/2019
44          3        OTHER  ...     550000  01/01/2019
...       ...          ...  ...        ...         ...
23029       4        OTHER  ...     635000  04/30/2019
23031       4        OTHER  ...     514000  04/30/2019
23032       4        OTHER  ...     635000  04/30/2019
23033       4        OTHER  ...     545000  04/30/2019
23035       4        OTHER  ...     510000  04/30/2019

[5061 rows x 21 columns]

In [9]:
#the .loc select rows by multiple labels conditions 
df_condition = df.loc[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') & (df['SALE_PRICE']>= 100000) & (df['SALE_PRICE'] <=2000000)]
df_condition

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44          3        OTHER  ...     550000  01/01/2019
61          4        OTHER  ...     200000  01/01/2019
78          2        OTHER  ...     810000  01/02/2019
108         3        OTHER  ...     125000  01/02/2019
111         3        OTHER  ...     620000  01/02/2019
...       ...          ...  ...        ...         ...
23029       4        OTHER  ...     635000  04/30/2019
23031       4        OTHER  ...     514000  04/30/2019
23032       4        OTHER  ...     635000  04/30/2019
23033       4        OTHER  ...     545000  04/30/2019
23035       4        OTHER  ...     510000  04/30/2019

[3164 rows x 21 columns]

In [10]:
#Split data from January -March 2019 train and April 2019 test
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [11]:
import datetime 

#First the date object had to be shifted to date time sequence for conditioning
dateti = [x for x in df_condition['SALE_DATE']]
for ix in dateti:
  df_condition['SALE_DATE'] = datetime.datetime.strptime(ix,'%m/%d/%Y')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df_condition

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44          3        OTHER  ...     550000 2019-04-30
61          4        OTHER  ...     200000 2019-04-30
78          2        OTHER  ...     810000 2019-04-30
108         3        OTHER  ...     125000 2019-04-30
111         3        OTHER  ...     620000 2019-04-30
...       ...          ...  ...        ...        ...
23029       4        OTHER  ...     635000 2019-04-30
23031       4        OTHER  ...     514000 2019-04-30
23032       4        OTHER  ...     635000 2019-04-30
23033       4        OTHER  ...     545000 2019-04-30
23035       4        OTHER  ...     510000 2019-04-30

[3164 rows x 21 columns]

In [13]:
df_condition.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
APARTMENT_NUMBER                          object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [14]:
df_train= df_condition[(df_condition['SALE_DATE'] >='01-01-2019') | (df_condition['SALE_DATE'] <= '03-31-2019')]
df_test = df_condition[(df_condition['SALE_DATE'] >= '04-01-2019') | (df_condition['SALE_DATE']<='04-29-2019')]

In [15]:
df_train.shape, df_test.shape

((3164, 21), (3164, 21))

In [16]:
from sklearn.model_selection import train_test_split

df_train

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44          3        OTHER  ...     550000 2019-04-30
61          4        OTHER  ...     200000 2019-04-30
78          2        OTHER  ...     810000 2019-04-30
108         3        OTHER  ...     125000 2019-04-30
111         3        OTHER  ...     620000 2019-04-30
...       ...          ...  ...        ...        ...
23029       4        OTHER  ...     635000 2019-04-30
23031       4        OTHER  ...     514000 2019-04-30
23032       4        OTHER  ...     635000 2019-04-30
23033       4        OTHER  ...     545000 2019-04-30
23035       4        OTHER  ...     510000 2019-04-30

[3164 rows x 21 columns]

In [17]:
df_train, val = train_test_split(df_train, random_state =42)

In [18]:
train_test_split(df_train, random_state = 42)

[      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
 10355       4        OTHER  ...     520000 2019-04-30
 9741        3        OTHER  ...     632000 2019-04-30
 13575       4        OTHER  ...     400000 2019-04-30
 12798       5        OTHER  ...     270000 2019-04-30
 7687        4        OTHER  ...     555000 2019-04-30
 ...       ...          ...  ...        ...        ...
 15315       4        OTHER  ...     550000 2019-04-30
 1382        3        OTHER  ...     790000 2019-04-30
 15942       4        OTHER  ...     430000 2019-04-30
 429         5        OTHER  ...     926608 2019-04-30
 21066       2        OTHER  ...     507500 2019-04-30

 [1779 rows x 21 columns],
       BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
 15811       3        OTHER  ...     400000 2019-04-30
 17611       3        OTHER  ...    1525000 2019-04-30
 9712        3        OTHER  ...     474000 2019-04-30
 6689        4        OTHER  ...     580000 2019-04-30
 6300        4        OTHER  ...     436800 2019-04-30
 ...       ...          ...  ...        ...        ...
 17939       3        OTHER  ...     715000 2019-04-30
 5587        4        OTHER  ...    1050000 2019-04-30
 13619       5        OTHER  ...     250000 2019-04-30
 20333       3        OTHER  ...     825000 2019-04-30
 16712       4        OTHER  ...     905000 2019-04-30

 [594 rows x 21 columns]]

In [19]:
df_train.shape, val.shape, df_test.shape

((2373, 21), (791, 21), (3164, 21))

In [20]:
target = 'SALE_PRICE'
y_train = df_train[target]
y_train.value_counts(normalize =True)

500000    0.017278
550000    0.013064
450000    0.012221
400000    0.011799
525000    0.010957
            ...
518500    0.000421
412000    0.000421
276822    0.000421
498000    0.000421
204800    0.000421
Name: SALE_PRICE, Length: 823, dtype: float64

In [21]:
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.017277707543194267

In [23]:
y_val = val[target]
y_pred = [majority_class]* len(y_val)
accuracy_score(y_val, y_pred)

0.008849557522123894

In [24]:
df_train.describe()

              BLOCK          LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count   2373.000000  2373.000000  ...                     2373.0  2.373000e+03
mean    6965.141172    74.674673  ...                        1.0  6.280497e+05
std     3990.347073   153.822387  ...                        0.0  2.974805e+05
min       21.000000     1.000000  ...                        1.0  1.000000e+05
25%     4025.000000    21.000000  ...                        1.0  4.445580e+05
50%     6367.000000    41.000000  ...                        1.0  5.650000e+05
75%    10351.000000    69.000000  ...                        1.0  7.550000e+05
max    16350.000000  2720.000000  ...                        1.0  2.000000e+06

[8 rows x 11 columns]

In [48]:
#Linear Regression
from sklearn.linear_model import LinearRegression

linear_reg = LinearRegression()
features = ['GROSS_SQUARE_FEET','YEAR_BUILT','SALE_PRICE']
x_train = df_train[features]
x_val = val[features]

from sklearn.impute import SimpleImputer
imputer =SimpleImputer()
x_train_imputed = imputer.fit_transform(x_train)
x_val_imputed = imputer.transform(x_val)


linear_reg.fit(x_train_imputed, y_train)
linear_reg.predict(x_val_imputed)

array([ 390000.,  770000.,  859000.,  361000., 1048800.,  475000.,
        630000.,  395000.,  380000.,  800000.,  380000.,  530000.,
        240000.,  360000.,  800000.,  855000.,  700000.,  728888.,
        890000.,  318000.,  800000.,  485000.,  485000.,  470000.,
        607000.,  330000.,  695000., 1218300.,  539000., 1153000.,
        350000.,  100000.,  495000.,  499000.,  315000.,  499500.,
        895000.,  575000., 1400000.,  822500.,  669000.,  480000.,
        499931.,  806000.,  500000.,  517000.,  300000.,  675000.,
        450000., 1756000., 1100000.,  710000.,  180000.,  700000.,
        412000.,  695000.,  699000.,  499999.,  750000.,  290000.,
        680000.,  335000.,  412600.,  475000.,  130000.,  803800.,
        800000.,  960000.,  721939.,  750000.,  585000.,  380000.,
        550000.,  530000.,  508500.,  575000.,  490000., 1552831.,
        999999.,  480000.,  800000.,  912500., 1120413.,  805000.,
        940000.,  840000.,  679000.,  216489.,  522000.,  450000.,
        326000.,  856900.,  365040.,  500000., 1525000.,  600000.,
        465000.,  218000., 1280000.,  479000.,  455000.,  410000.,
        712000.,  560000.,  606279.,  595000.,  990000., 1163359.,
        465000.,  635000.,  620000.,  580000., 1500000.,  670000.,
        999000.,  400000.,  515000.,  638221.,  380000.,  678000.,
        857500.,  928000.,  601000., 1750000.,  366211.,  587400.,
        524804.,  595000.,  350000.,  625000.,  757504., 1210000.,
        465000., 1400000.,  785000.,  865000., 1240000.,  995000.,
        625000.,  600000.,  400000., 1485000.,  495000.,  640000.,
        499990.,  845000.,  625000.,  810000.,  550000.,  679189.,
        450000.,  620000.,  285075.,  395000.,  877500.,  440000.,
        463900.,  619140.,  820000.,  965000.,  520000.,  630000.,
        818000.,  485000.,  740000.,  500000.,  489000.,  525000.,
        512000.,  950000.,  550000.,  352424.,  595000.,  569000.,
        425000.,  950000.,  445000.,  390000.,  553000., 1100000.,
        465000.,  525000.,  240000.,  395000.,  575000.,  450000.,
        575000.,  733140.,  550000.,  197600.,  520000.,  505000.,
        485000.,  360000.,  200000.,  850000.,  640000.,  840000.,
        800000.,  255000.,  610000.,  580000., 1390000.,  440000.,
        375000.,  536500., 1050000.,  380000., 1872562.,  615000.,
        499000.,  540000.,  600000.,  460000.,  275000.,  845000.,
        415000.,  390000.,  558000.,  335000.,  350000.,  662000.,
        435000.,  760000., 1300000.,  975000.,  750000.,  600000.,
        635000.,  690000.,  371000.,  510000.,  900000.,  136000.,
        580000.,  679000., 1350000.,  250000.,  790000.,  400530.,
        385000.,  600000.,  640000.,  639461.,  500000.,  600000.,
        900000.,  420000.,  742000.,  350000.,  868000.,  240000.,
        387020., 1300000.,  479000.,  790000.,  650000., 1165000.,
        300000.,  325000.,  514000.,  781000.,  490000.,  545000.,
        520000.,  905000.,  836000.,  394272.,  487500., 1265000.,
        375000.,  495000.,  985000.,  600000.,  275000.,  969000.,
        655000.,  152000.,  630000.,  745000.,  860000.,  768328.,
        580000.,  865000.,  520000.,  545000.,  273780.,  550000.,
        820000.,  555000.,  665000.,  899000.,  762669.,  468468.,
        780000.,  240000.,  345000.,  531260.,  573500.,  402600.,
       1912500.,  667000.,  451000.,  451230.,  557000.,  510000.,
        536000.,  465000.,  540000., 1870000.,  890000.,  333000.,
        552000.,  915000.,  657558.,  537500.,  692000.,  525000.,
        725000.,  280000.,  700000.,  800000.,  640000.,  940000.,
        390500.,  639000.,  309000.,  600000.,  150000., 1650000.,
        880000., 1265000.,  750000.,  550000.,  494000.,  560000.,
        525000.,  650000.,  445000.,  480000.,  515000.,  800000.,
        575000., 1210950.,  230000.,  490000.,  545000.,  605394.,
        499000.,  265000.,  510000.,  700000.,  545000.,  525000.,
        352746.,  400000.,  630000.,  729000.,  429000.,  404250.,
        585000.,  300000.,  115000.,  350000.,  160673.,  640000.,
        314500.,  215000.,  880888.,  790000.,  928000.,  333600.,
        570000.,  635000., 1500000.,  488000.,  708400.,  810000.,
        550000.,  650000., 1385000.,  700000.,  470000.,  640000.,
        677500.,  599000., 1150000.,  700000.,  444000.,  100000.,
        400000.,  915000.,  329000.,  700000.,  532000.,  445000.,
        450000.,  449000.,  838000.,  350000.,  900000.,  465000.,
        860000.,  250000.,  830000.,  900000.,  475000.,  595000.,
        645000.,  900000.,  615000.,  189270.,  107500.,  859000.,
        590000.,  938486.,  800000.,  690000.,  750000.,  390000.,
        990000.,  840000.,  365000.,  700000.,  500000.,  750000.,
        510000.,  350000.,  353379.,  790000.,  855000.,  645000.,
        730000.,  505000., 1130000.,  595000., 1675000.,  340000.,
        535000., 1117500.,  225000.,  790000.,  383593.,  310000.,
        950000.,  600000.,  850000.,  227302.,  580000.,  820000.,
        743000.,  336000.,  486000.,  912000.,  625000.,  980000.,
        405600.,  250000.,  320000.,  525000., 1440000.,  539000.,
        605000.,  650000.,  479000., 1015000.,  610000.,  385000.,
       1700000.,  620000.,  878000.,  825000.,  490000.,  350000.,
        883000.,  950000., 1450000.,  772500.,  777000.,  525000.,
        280000.,  650000.,  499000., 1125000.,  327500.,  445000.,
        525000.,  645000.,  650000.,  181875.,  362900.,  629788.,
        550000.,  600000.,  650000.,  324480.,  650000., 1055000.,
        420000.,  360000.,  989000.,  470000.,  457500.,  350000.,
        515000.,  672045.,  940000.,  440000.,  100000.,  477387.,
        200000.,  520000.,  948578.,  700000.,  935000.,  518000.,
        525000.,  327631.,  350000.,  598888.,  880000.,  670000.,
        141088.,  575000.,  720000.,  800000.,  650000.,  250000.,
        550000.,  560000.,  870000.,  475000.,  396550.,  650000.,
        330000., 1390000.,  560000.,  620000.,  520000.,  651680.,
        220000.,  835000.,  529791.,  591000.,  490000.,  614000.,
        529000.,  460000.,  775000.,  443000.,  850000.,  357850.,
        493000.,  324480.,  275000.,  455000.,  300000.,  685000.,
        999000.,  500000., 1150000.,  565000.,  555000., 1275000.,
        659000.,  560000.,  573000.,  525000., 1700000.,  475000.,
        865000.,  640000., 1620000.,  245000.,  562000.,  590000.,
        100000.,  673330.,  424000.,  640000.,  739000.,  830000.,
        525000.,  499000.,  380000., 1060000.,  550000.,  525000.,
        632500.,  590000.,  540000.,  690000.,  995000.,  575210.,
        660000.,  539000.,  625000.,  810000.,  366877.,  710000.,
        360000.,  935000.,  382500.,  850000.,  495000.,  473800.,
        450000.,  450000.,  670000., 1700000.,  820000.,  425000.,
        455000.,  760000.,  440000.,  900000., 1290000.,  610000.,
        478000.,  352500.,  498000.,  475000.,  630000.,  550000.,
        560000.,  520000.,  610000.,  658820.,  540000.,  315000.,
        267000.,  425000.,  987000.,  840000.,  130000.,  568600.,
        250000.,  905000.,  690000.,  690000.,  554946.,  252400.,
        833000.,  835000.,  671454.,  534560.,  851000.,  949000.,
        885000.,  650000.,  420000.,  985000.,  375000.,  678000.,
        556500., 1800000.,  500000., 1795000.,  529000.,  485000.,
        630000.,  400000.,  350000.,  650000.,  900000.,  860000.,
        376000.,  557000.,  670000.,  335500.,  415000.,  915000.,
        585000.,  990000.,  560000.,  529000.,  670000.,  525000.,
        600000.,  235000.,  825000.,  685000.,  650000.,  450000.,
        640000.,  750000.,  575000.,  450000.,  520000.,  520000.,
        310000.,  417332.,  510000.,  489600.,  307668.,  714800.,
       1220000.,  800000.,  370000.,  130000.,  829000.,  467500.,
        415000.,  362900.,  700000.,  532000.,  413950.,  988000.,
       1150000.,  850000.,  555000.,  220000.,  645000.,  610000.,
        282000.,  114000.,  460000.,  330000., 1400000.,  420000.,
        940000.,  504700.,  560000.,  955000.,  457821.,  485000.,
        380000.,  597000.,  800000.,  428000.,  808000.,  461370.,
        515000.,  810000., 1400000.,  475000.,  540000.,  544000.,
        519000.,  420000.,  470000.,  695000., 1400000.,  625000.,
        800000.,  720000.,  725000.,  450000.,  478000.,  600000.,
       1100000.,  345000.,  525000.,  255000.,  932500.,  520000.,
        306228.,  575000.,  450000.,  720000.,  619000.,  595000.,
        359970.,  540000.,  580000.,  480000.,  439931.,  600000.,
        449000.,  265000.,  550000.,  350000.,  495000.,  625000.,
        634000.,  590000.,  585494.,  950000.,  350000.,  495000.,
       1491000.,  605000.,  340000.,  100000.,  273600.,  850000.,
        448000.,  740000.,  375180.,  225000., 1175000.])

In [26]:
pd.Series(linear_reg.coef_, features)

GROSS_SQUARE_FEET   -1.310189e-13
YEAR_BUILT          -3.727463e-12
SALE_PRICE           1.000000e+00
dtype: float64

In [27]:
test_case = [[6000,2016,550000]]
linear_reg.predict(test_case)

array([550000.])

In [28]:
#Logistic Regression
# Import the feature selector utility
from sklearn.feature_selection import SelectKBest, f_regression

# Create the selector object with the best k=1 features
selector = SelectKBest(score_func=f_regression, k=1)

# Run the selector on the training data
x_train_selected = selector.fit_transform(x_train, y_train)

# Find the features that was selected
selected_mask = selector.get_support()
all_features = x_train.columns
selected_feature = all_features[selected_mask]

print('The selected feature: ', selected_feature[0])

The selected feature:  GROSS_SQUARE_FEET

In [29]:
#Imports
import category_encoders as ce 
from sklearn.impute import SimpleImputer 
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [30]:
x_train.head()
x_val.head()

       GROSS_SQUARE_FEET  YEAR_BUILT  SALE_PRICE
18857             1771.0      1950.0      390000
2590              1831.0      1950.0      770000
1381              1840.0      1920.0      859000
2630               930.0      1925.0      361000
10944             1249.0      1950.0     1048800

In [31]:
encoder = ce.OneHotEncoder(use_cat_names= True)
x_train_encoded = encoder.fit_transform(x_train)
x_val_encoded = encoder.transform(x_val)
x_train_encoded.head()

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       GROSS_SQUARE_FEET  YEAR_BUILT  SALE_PRICE
10088             1360.0      1935.0      930000
10420             2025.0      1965.0      180000
5287              1321.0      1901.0      425000
20137             1995.0      1930.0      730000
6344              1296.0      1940.0      450000

In [32]:
x_val_encoded.head()

       GROSS_SQUARE_FEET  YEAR_BUILT  SALE_PRICE
18857             1771.0      1950.0      390000
2590              1831.0      1950.0      770000
1381              1840.0      1920.0      859000
2630               930.0      1925.0      361000
10944             1249.0      1950.0     1048800

In [40]:
imputer = SimpleImputer(strategy='mean')
x_train_imputed = imputer.fit_transform(x_train_encoded)
x_val_imputed = imputer.transform(x_val_encoded)

In [41]:
y_train_encoded = encoder.fit_transform(y_train)
y_val_encoded = encoder.transform(y_val)
y_train_encoded.head()

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       SALE_PRICE
10088      930000
10420      180000
5287       425000
20137      730000
6344       450000

In [43]:
y_train_imputed = imputer.fit_transform(y_train_encoded)
y_val_imputed = imputer.transform(y_val_encoded)

In [34]:
x_train_imputed[:5]

array([[  1360.,   1935., 930000.],
       [  2025.,   1965., 180000.],
       [  1321.,   1901., 425000.],
       [  1995.,   1930., 730000.],
       [  1296.,   1940., 450000.]])

In [35]:
pd.DataFrame(x_train_imputed, columns = x_train_encoded.columns)

      GROSS_SQUARE_FEET  YEAR_BUILT  SALE_PRICE
0                1360.0      1935.0    930000.0
1                2025.0      1965.0    180000.0
2                1321.0      1901.0    425000.0
3                1995.0      1930.0    730000.0
4                1296.0      1940.0    450000.0
...                 ...         ...         ...
2368             1368.0      1960.0    580000.0
2369             1152.0      1950.0    780000.0
2370             1528.0      1920.0    562500.0
2371             1656.0      1940.0    994000.0
2372             1614.0      2016.0    623169.0

[2373 rows x 3 columns]

In [36]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train_imputed)
x_val_scaled = scaler.transform(x_val_imputed)

In [37]:
x_train_scaled[:15]

array([[-0.17933456, -0.31522865,  1.01523943],
       [ 0.98876094,  0.82028355, -1.50646551],
       [-0.2478394 , -1.60214247, -0.68270856],
       [ 0.9360649 , -0.50448068,  0.34278478],
       [-0.29175277, -0.12597662, -0.59865173],
       [-0.79763473,  0.63103151, -0.45071171],
       [ 1.04672658, -0.88298475, -0.6658972 ],
       [ 0.80432481,  0.44177948, -1.00212452],
       [-0.69224265, -0.69373271, -0.80038813],
       [-1.01368848, -0.12597662, -1.42308113],
       [-0.24959594, -0.88298475, -0.22880167],
       [ 0.36167809, -0.69373271,  0.29235068],
       [ 1.70367051,  2.75065428,  4.30764129],
       [-2.56822158, -0.20167743, -1.02431553],
       [-0.82222621, -1.60214247,  1.06567353]])

In [50]:
y_train_scaled= scaler.fit_transform(y_train_imputed)
y_val_scaled = scaler.transform(y_val_imputed)

In [ ]:
y_train_scaled = y_train_scaled[:15]

In [52]:
model = LogisticRegressionCV()
model.fit(x_train_scaled, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

ValueError: ignored

In [ ]:
y_pred = model.predict(x_val_scaled)
accuracy_score(y_val, y_pred)